.button{
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    background-color: var(--primary);
    transition: 0.2s ease-in-out;
}

.button:hover{
    background-color: var(--primary-dark);
    cursor: pointer;
}