.homeSection{
    width: fit-content;
    margin: auto;
}

.messenger{
    text-align: center;
    margin: 2rem auto;
}

.playIcon{
    width: 3.4rem;
    height: auto;
}

.stopIcon{
    color: var(--text-over-primary-dark);
    width: 3.4rem;
    height: auto;
}